.introduction{

    height: 100vh;
    width: 100vw;
    /* animation: bg_color 4s infinite; */
    background-blend-mode: luminosity;
    background-image: url(../../public/insta\ photo.webp);
    background-size:cover;
    background-repeat: no-repeat;
    background-position:center;
    font-family: 'Lobster Two', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    flex-direction: column;
    
}

.intro_text_head{
  color:brown;
  animation: slide_text 3s;
 
}
.intro_text_body{
    color: white;
    animation: slide_text 3s; 
    font-size: 4rem;
    margin: 1rem;
  }
  

.swipe-up{
  width: 6rem;
  height:auto;
  margin-top: 4rem;
  /* animation: slide_swipe 2s infinite 4s; */
  visibility: hidden;
}


/* @keyframes slide_text{
    from{
         margin-left: -100%;
         
         
    }to{
         margin-left: 0%;
         
    }
} */

@keyframes bg_color{
     0%{
        background-color: rgb(151, 147, 155);
        
     }
     25%{
        background-color: black;
     }
     50%{
         background-color: rgb(9, 9, 9);
     }

     75%{
        background-color: rgb(101, 90, 90);
     }


}