.introduction{

    height: 100vh;
    width: 100vw;
    animation: bg_color 5s infinite;
    background-blend-mode: luminosity;
    background-image: url(../../public/insta\ photo.webp);
    background-size:cover;
    background-repeat: no-repeat;
    background-position:center;
    font-family: 'Lobster Two', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    flex-direction: column;
    
}

.intro_text_head{
  color:brown;
  animation: slide_text 5s,rotate_text 3s infinite ease;
 
}
.intro_text_body{
    color: white;
    animation: slide_text 5s,rotate_text_body 3s infinite ease;
    font-size: 4rem;
    margin: 1rem;
  }
  

.swipe-up{
  width: 6rem;
  height:auto;
  margin-top: 4rem;
  animation: slide_swipe 2s infinite 4s;
  visibility: hidden;
}

@keyframes slide_swipe{
  0%{
     transform: translatey(0);
     visibility: visible;
  }
  100%{
    transform: translatey(-2rem);
    visibility: visible;
  }
}

@keyframes slide_text{
    from{
         margin-left: -100%;
         
         
    }to{
         margin-left: 0%;
         
    }
}

@keyframes rotate_text{
   
  0%{
    transform: rotate(0);
  }
  50%{
    transform: rotate(3deg);
  }
  100%{
    transform: rotate(0deg);
  }
  
}

@keyframes rotate_text_body{
   
  0%{
    transform: rotate(0);
  }
  50%{
    transform: rotate(-3deg);
  }
  100%{
    transform: rotate(0deg);
  }
  
}



@keyframes bg_color{
     0%{
        background-color: rgb(151, 147, 155);
        
     }
     25%{
        background-color: black;
     }
     50%{
         background-color: rgb(9, 9, 9);
     }

     75%{
        background-color: rgb(101, 90, 90);
     }


}