.Projects{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lobster Two', cursive;
    font-size: 7rem;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}

.Projects > p{
    margin: 0;
}
a{
    text-decoration: none !important;
}

.project_window{
    height: 60vh;
    display: flex;
    flex-direction: row;
    background-size: 100% 100%;
    font-size: 3rem;
    color: white;

}

.project_window>img{
    width: 50vw;
    height: 40vh;
    margin: 2rem;
    
}


.project_window>ul>h1{
    font-size: 4rem;
    margin: 0;
}

@media only screen and (max-width:480px){
    .project_window>img{
        width: 60vw;
        height: 30vh;
        margin: 2rem;
        
    }
    
}